@font-face
    font-family 'fontello'
    src url('../fonts/fontello.eot')
    src url('../fonts/fontello.eot#iefix') format('embedded-opentype'),url('../fonts/fontello.woff2') format('woff2'),url('../fonts/fontello.woff') format('woff'),url('../fonts/fontello.ttf') format('truetype'),url('../fonts/fontello.svg#fontello') format('svg')
    font-weight normal
    font-style normal
@font-face
    font-family 'fontellox'
    src url('../fonts/fontello-2.eot')
    src url('../fonts/fontello-2.eot#iefix') format('embedded-opentype'),url('../fonts/fontello-2.woff2') format('woff2'),url('../fonts/fontello-2.woff') format('woff'),url('../fonts/fontello-2.ttf') format('truetype'),url('../fonts/fontello-2.svg#fontello') format('svg')
    font-weight normal
    font-style normal
[class^="icon-"]:before
[class*=" icon-"]:before
    font-family "fontello"
    font-style normal
    font-weight normal
    speak none
    display inline-block
    text-decoration inherit
    width 1em
    margin-right .2em
    text-align center
    font-variant normal
    text-transform none
    line-height 1em
    margin-left .2em
[class^="iconx-"]:before
[class*=" iconx-"]:before
    font-family "fontellox"
    font-style normal
    font-weight normal
    speak none
    display inline-block
    text-decoration inherit
    width 1em
    margin-right .2em
    text-align center
    font-variant normal
    text-transform none
    line-height 1em
    margin-left .2em   
.iconx-deportes-montana:before
    content: '\e800';   
.iconx-nutricion:before
    content: '\e801'
.icon-search:before 
    content '\e800'
.icon-left:before 
    content '\e801' 
.icon-right:before 
    content '\e802' 
.icon-facebook:before 
    content '\e803' 
.icon-pinterest:before 
    content '\e804' 
.icon-twitter:before 
    content '\e805' 
.icon-youtube:before 
    content '\e806' 
.icon-down:before 
    content '\e807' 
.icon-gplus:before 
    content '\e808' 
.icon-up:before 
    content '\e809' 
.icon-record:before 
    content '\e80a' 
.icon-check:before 
    content '\e80b' 
.icon-plus:before 
    content '\e80c' 
.icon-calendar:before 
    content '\e80d' 
.icon-arrows-ccw:before 
    content '\e80e' 
.icon-equitacion:before 
    content '\e80f'
.icon-earth:before 
    content '\e81e' 
.icon-natacion-y-aguagym:before 
    content '\e828'
.icon-precision:before 
    content '\e829' 
.icon-boxeo-artes-marciales:before 
    content '\e82a' 
.icon-caza:before 
    content '\e82b' 
.icon-deportes-en-equipo:before 
    content '\e82c'
.icon-patines:before 
    content '\e82d' 
.icon-deportes-raqueta:before 
    content '\e82e' 
.icon-escalada-y-alpinismo:before 
    content '\e82f' 
.icon-golf:before 
    content '\e830' 
.icon-pesca:before 
    content '\e831' 
.icon-spin3:before 
    content '\e832' 
.icon-caminata:before 
    content '\e833' 
.icon-deportes-en-el-mar:before 
    content '\e834' 
.icon-natacion:before 
    content '\e835' 
.icon-deportes-montana:before 
    content '\e836' 
.icon-nutricion-suplementos:before 
    content '\e837'
.icon-fitness:before 
    content '\e838' 
.icon-running:before 
    content '\e839'
.icon-ciclismo:before 
    content '\e83a' 
.icon-agua-dulce:before 
    content '\e83b' 
.icon-basket-ball:before 
    content '\e83c' 
.icon-bmx:before 
    content '\e83d'
.icon-buceo-y-snorkel:before 
    content '\e83e' 
.icon-campismo:before 
    content '\e83f' 
.icon-cotidiana:before 
    content '\e840' 
.icon-deportiva:before 
    content '\e841' 
.icon-en-carretera:before 
    content '\e842' 
.icon-en-ciudad:before 
    content '\e843' 
.icon-en-mar:before 
    content '\e844' 
.icon-en-montana:before 
    content '\e845' 
.icon-frontenis-squash-badminton:before 
    content '\e846' 
.icon-futbol:before 
    content '\e847' 
.icon-futbol-americano-y-beisbol:before 
    content '\e848' 
.icon-gimnasia-y-danza:before 
    content '\e849' 
.icon-musculacion-y-cardio:before 
    content '\e84a' 
.icon-navegacion-y-kayak:before 
    content '\e84b' 
.icon-padel:before 
    content '\e84c' 
.icon-para-ninos:before 
    content '\e84d' 
.icon-petanca-dardos-otros:before 
    content '\e84e'
.icon-ping-pong:before 
    content '\e84f' 
.icon-rugby-voleyball-otros:before 
    content '\e850' 
.icon-senderismo:before 
    content '\e851' 
.icon-sub-running:before 
    content '\e852' 
.icon-surf:before 
    content '\e853' 
.icon-tenis:before 
    content '\e854' 
.icon-tiro-arco:before 
    content '\e855' 
.icon-trail:before 
    content '\e856' 
.icon-triatlon:before 
    content '\e857' 
.icon-yoga:before 
    content '\e858' 
.icon-linkedin:before 
    content '\f0e1' 
.icon-share:before 
    content '\f1e0' 
.icon-whatsapp:before 
    content '\f232' 
.icon-linkedin-circled:before 
    content '\f319' 

.tooltip-inner
    max-width 200px
    padding 3px 8px
    color #fff
    text-align center
    text-decoration none
    background-color #545454
    border 1px solid #fff
    border-radius 4px
.tooltip-arrow
    position absolute
    width 0
    height 0
    border-color transparent
    border-style solid
.tooltip
    position absolute
    z-index 1070
    display block
    font-size 12px
    line-height 1.4
    visibility visible
    filter(alpha, opacity=0)
    opacity 0
    &.in
        filter(alpha, opacity=0)
        opacity .9
    &.top
        padding 5px 0
        margin-top -3px
    &.right
        padding 0 5px
        margin-left 3px
    &.bottom
        padding 5px 0
        margin-top 3px
    &.left
        padding 0 5px
        margin-left -3px
    &.top
        .tooltip-arrow
            bottom 0
            left 50%
            margin-left -5px
            border-width 5px 5px 0
            border-top-color #fff
    &.top-left
        .tooltip-arrow
            bottom 0
            left 5px
            border-width 5px 5px 0
            border-top-color #fff
    &.top-right
        .tooltip-arrow
            right 5px
            bottom 0
            border-width 5px 5px 0
            border-top-color #fff
    &.right
        .tooltip-arrow
            top 50%
            left 0
            margin-top -5px
            border-width 5px 5px 5px 0
            border-right-color #fff
    &.left
        .tooltip-arrow
            top 50%
            right 0
            margin-top -5px
            border-width 5px 0 5px 5px
            border-left-color #fff
    &.bottom
        .tooltip-arrow
            top 0
            left 50%
            margin-left -5px
            border-width 0 5px 5px
            border-bottom-color #fff
    &.bottom-left
        .tooltip-arrow
            top 0
            left 5px
            border-width 0 5px 5px
            border-bottom-color #fff
    &.bottom-right
        .tooltip-arrow
            top 0
            right 5px
            border-width 0 5px 5px
            border-bottom-color #fff