@font-face
	font-source('Roboto-BoldCondensedItalic')	
.Roboto-BoldCondensedItalic
	font-family 'Roboto-BoldCondensedItalici' !important
	font-weight normal !important

@font-face
	font-source('Roboto-Condensed')
	
.Roboto-Condensed
	font-family 'Roboto-Condensed' !important
	font-weight normal !important

@font-face
	font-source('Roboto-Italic')
	
.Roboto-Italic
	font-family 'Roboto-Italic' !important
	font-weight normal !important
	

@font-face
	font-source('Roboto-Medium')
	
.Roboto-Medium
	font-family 'Roboto-Medium' !important
	font-weight normal !important
@font-face
	font-source('Roboto-Black')
	
.Roboto-Black
	font-family 'Roboto-Black' !important
	font-weight normal !important
@font-face
	font-source('Roboto-BlackItalic')
	
.Roboto-BlackItalic
	font-family 'Roboto-BlackItalic' !important
	font-weight normal !important
@font-face
	font-source('Roboto-Bold')
	
.Roboto-BlackItalic
	font-family 'Roboto-Bold' !important
	font-weight normal !important
@font-face
	font-source('Roboto-BoldCondensed')
	
.Roboto-BoldCondensed
	font-family 'Roboto-BoldCondensed' !important
	font-weight normal !important
@font-face
	font-source('Roboto-Regular')
	
.Roboto-Regular
	font-family 'Roboto-Regular' !important
	font-weight normal !important
// fonts size
font-size-base			=	14px
// 39px
font-size-alpha 		=	floor(font-size-base * 2.8)
// 33px
font-size-beta 			=	floor(font-size-base * 2.4)
// 30px
font-size-gamma 		=	floor(font-size-base * 2.2)
// 28px
font-size-h1			=	floor(font-size-base * 2)
// 24px
font-size-h2			=	floor(font-size-base * 1.75)
// 21px
font-size-h3			=	floor(font-size-base * 1.5)
// 17px
font-size-h4			=	floor(font-size-base * 1.25)
// 14px
font-size-h5			=	floor(font-size-base)
// 11px
font-size-h6			=	floor(font-size-base * 0.85)