body *
html *
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	-webkit-tap-highlight-color rgba(0, 0, 0, 0)
	box-sizing border-box
a
	text-decoration none
	color inherit !important
	cursor pointer
img
	display block
	width auto
	max-width 100%
	height auto
	&.auto
		margin-left auto
		margin-right auto
	&.autoright
		margin-left auto
	&.autoleft
		margin-right auto
	&.size-full
		width 100%
fieldset
	margin 0
	border 0
	padding 10px 10px 0px 10px
figure
	margin-left 0
	margin-right 0
	margin-top 1em
	margin-bottom 1em
table
	&.v-align
		height 100%
		width 100%
		table-layout fixed
		tbody tr
			vertical-align middle
			width 768px
			margin-right auto
.table
	width 100%
	display table
	height 100%
	table-layout fixed
	.table-cell
		display table-cell
		vertical-align middle
	.align-top
		vertical-align top
		text-align center
	.align-top-left
		vertical-align top
		text-align left
	.align-top-right
		vertical-align top
		text-align right
	.align-bot
		vertical-align bottom
		text-align center
	.align-bot-left
		vertical-align bottom
		text-align left
	.align-bot-right
		vertical-align bottom
		text-align right
	.align-left
		text-align left
	.align-right
		text-align right
	.align-center
		text-align center
address
	display block
	margin-bottom 20px
.absolute
	position absolute
.clearfix
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
.block
	display block
.inline
	display inline
.inline-block
	display inline-block
.inline-block-middle
	display inline-block
	vertical-align middle
.left
	float left !important
for i in (1..12)
	.lg_{i}
		col-width(i)
		float left
		min-height 1px
		&.inline-block
			float none
			display inline-block
			vertical-align top
			margin-left -4px
		&.inline-block-m
			float none
			display inline-block
			vertical-align middle
			margin-left -4px
		&.padding
			padding-left 10px
			padding-right 10px
.row
	margin-left -10px
	margin-right -10px
.z-index
	z-index 10
.relative
	position relative !important
.right
	float right !important
.text-center
	text-align center !important
.text-left
	text-align left !important
.text-right
	text-align right !important
.text-uppercase
	text-transform uppercase !important
.text-lowercase
	text-transform lowercase !important
.text-normal
	text-transform none !important
.text-bold
	font-weight bold !important
.text-warning
	color c_warning !important
.text-error
	color c_error !important
.text-info
	color c_info !important
.text-success
	color c_success !important
.overhide
	overflow hidden !important
.alpha
	font-size font-size-alpha
.beta
	font-size font-size-beta
.gamma
	font-size font-size-gamma
blockquote
	padding 10px 20px
	margin 0 0 20px
	// font-size 17.5px
	border-left 5px solid #eee
	small
		display block
		font-size 80%
		line-height 1.42857
h1
.h1
	font-size 70px
	line-height 1.2em
	font-weight normal
	color inherit
h2
.h2
	font-size 60px
	line-height 1.2em
	font-weight normal
	color inherit
h3
.h3
	font-size 40px
	line-height 1.2em
	font-weight normal
	color inherit
h4
.h4
	font-size 30px
	line-height 1.2em
	font-weight normal
	color inherit
h5
.h5
	font-size 24px
	line-height 1.2em
	font-weight normal
	color inherit
h6
.h6
	font-size 18px
	line-height 1.2em
	font-weight normal
	color inherit
.hidden-lg
.hidden-md
.hidden-sm
.hidden-xs
	display block !important
	visibility visible
.visible-lg
.visible-md
.visible-sm
.visible-xs
	display none !important
	visibility hidden
.open-modal
	cursor pointer
.modalbox
	background rgba(0,0,0,0.9)
	position fixed
	z-index 9999
	top 0
	right 0
	left 0
	bottom 0
	height 100%
	overflow auto
	display none
	width 100%
	.content
		max-width 768px
		padding 60px 10px
		background c_white
		position relative
		margin 0 auto
		text-align center
	.close-modal
		color c_dark
		font-family Helvetica,arial,sans-serif
		font-size 25px
		background c_white
		core-options(border-radius, 50%)
		display block
		position absolute
		top 10px
		right 10px
		width 30px
		height 30px
		z-index 5
		cursor pointer
		padding 5px 8px
		&:before
			content 'X'
			font-family Arial
			color c_dark
			line-height 30px
			position absolute
			top 0px
			left 7px
			width 100%
			height 100%
	&[data-modal="video"]
		.content
			max-width 1200px
			padding 0
			background transparent
		.video
			width 100%
			padding-bottom 56.92%
			position relative
		.iframe
			position absolute
			width 100%
			height 100%
			left 0px
			top 0px
for i in (0..10)
	.p{i}0
		padding i*10px !important
for i in (0..10)
	.pl{i}0
		padding-left i*10px !important
for i in (0..10)
	.pr{i}0
		padding-right i*10px !important
for i in (0..10)
	.pt{i}0
		padding-top i*10px !important
for i in (0..10)
	.pb{i}0
		padding-bottom i*10px !important
for i in (0..10)
	.ph{i}0
		padding-left i*10px !important
		padding-right i*10px !important
for i in (0..10)
	.pv{i}0
		padding-top i*10px !important
		padding-bottom i*10px !important
				
for i in (0..10)
	.m{i}0
		margin i*10px !important
for i in (0..10)
	.ml{i}0
		margin-left i*10px !important
for i in (0..10)
	.mr{i}0
		margin-right i*10px !important
for i in (0..10)
	.mt{i}0
		margin-top i*10px !important
for i in (0..10)
	.mb{i}0
		margin-bottom i*10px !important
for i in (0..10)
	.mh{i}0
		margin-left i*10px !important
		margin-right i*10px !important
for i in (0..10)
	.mv{i}0
		margin-top i*10px !important
		margin-bottom i*10px !important
		
@media all and (max-width window-lg)
	.hidden-lg
		display none !important
		visibility hidden
	
	.visible-lg
		display inherit !important
		visibility visible
	for i in (1..12)
		.lg_{i}
			width 100%

	for i in (1..12)
		.md_{i}
			col-width(i)
			float left
			&.inline-block
				float none
				display inline-block
				vertical-align top
				margin-left -4px
			
@media all and (max-width window-md)
	
	.hidden-md
		display none !important
		visibility hidden
	
	.visible-md
		display inherit !important
		visibility visible
		&.inline
			display inline-block !important
	for i in (1..12)
		.md_{i}
			width 100%
	for i in (1..12)
		.sm_{i}
			col-width(i)
			float left
			&.inline-block
				float none
				display inline-block
				vertical-align top
				margin-left -4px

@media all and (max-width window-sm)

	.hidden-sm
		display none !important
		visibility hidden

	.visible-sm
		display inherit !important
		visibility visible
	for i in (1..12)
		.sm_{i}
			width 100%

	for i in (1..12)
		.xs_{i}
			col-width(i)
			float left
			&.inline-block
				float none
				display inline-block
				vertical-align top
				margin-left -4px

@media all and (max-width window-xs)
	for i in (1..12)
		.xs_{i}
			width 100%
	.hidden-xs
		display none !important
		visibility hidden

	.visible-xs
		display inherit !important
		visibility visible

#ui-datepicker-div
	font-size 15px